@import 'tailwindcss';

@font-face {
  font-family: 'Explex35';
  src: url('/fonts/Explex35/Explex35-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@plugin '@iconify/tailwind4';

@theme {
  --font-sans: 'Explex35', sans-serif;
}

@layer utilities {
  button {
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }

  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='datetime-local']::-webkit-calendar-picker-indicator,
  input[type='month']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator,
  input[type='week']::-webkit-calendar-picker-indicator,
  select {
    cursor: pointer;
  }
}

body {
  overflow-y: hidden;
}

/* Width and height of the scrollbar track */
::-webkit-scrollbar {
  width: calc(var(--spacing) * 1.5);
  height: calc(var(--spacing) * 1.5);
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  border-radius: calc(var(--spacing) * 2);
  background: var(--color-gray-200);
}
:where(.dark) ::-webkit-scrollbar-track {
  background: var(--color-zinc-700);
}

/* The draggable scrollbar handle */
::-webkit-scrollbar-thumb {
  border-radius: calc(var(--spacing) * 2);
  background: var(--color-gray-400);
}
:where(.dark) ::-webkit-scrollbar-thumb {
  background: var(--color-zinc-500);
}
